---
const { name, price, image, description, channel } = Astro.props;
---

<div class="rounded-xl shadow-md p-4 bg-neutral-100 dark:bg-white/[.075] hover:shadow-lg transition flex flex-col h-full">
  <img src={image} alt={name} class="w-full h-48 object-cover rounded-md mb-3" />

  <div class="flex justify-between items-center mb-2">
    <h2 class="text-lg font-semibold">{name}</h2>
    <span class="bg-yellow-300 text-yellow-900 text-xs font-semibold px-2 py-1 rounded">
      {channel} channel
    </span>
  </div>

  <p class="text-sm text-gray-500 dark:text-neutral-400">{description}</p>

  <div class="flex items-center justify-between mt-4">
    <span class="font-bold text-blue-600">{price}</span>
    <button class="bg-orange-400 hover:bg-orange-500 active:bg-orange-500 text-white dark:text-white px-4 py-2 rounded-md">
      Beli Sekarang
    </button>
  </div>
</div>
